body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

table td {
    padding-left:5px;
    padding-right:5px;
    padding-top: 5px;
    text-align: center;
}

table th {
  text-align: center;
}

.axis {
  font: 10px sans-serif;
}

.writeup{
  font-size: 15pt
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.avg_line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.x.axis path {
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  font-size: 8pt;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.communityarea {
  fill: #fff;
  stroke: #aaa;
}

.communityareas-label {
  font-size: 8px;
  text-anchor: middle;
  text-transform: uppercase;
}

.communityareas-dropshadow {
  font-size: 7px;
  text-anchor: middle;
  text-transform: uppercase;
  stroke: #fff;
  stroke-width:2.5px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

.hidden { 
  display: none; 
}
div.map_tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

#tableIncome {
  margin-top:30px;
  padding-left:0;
  margin-left: -65px;
}

#tableDemographics {
  margin-top:30px;
  padding-right:0;
  margin-left: -100px;
}

.col-md-4 {
  padding-right: 0;
}

#rcorners {
    border-radius: 25px;
    border: 2px solid #000;
}

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}
.site-footer .column {
  float: left;
  margin-bottom: 15px;
}

.site-footer ul {
  list-style: none;
  padding:0;
}

.github-icon-svg, .twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}
